<div class="register">
    <form>
        <input type="text" placeholder="fullnames" name="fullnames" id="fullnames_">
        <label for="fullnames">full names :</label>
        <input type="text" placeholder="username" name="username" id="username_">
        <label for="username">Username</label>
        <input type="password" placeholder="password" name="password" id="password_">
        <label for="password">Password</label>
        <input type="password" placeholder="confirm password" name="cpassword" id="cpassword_">
        <label for="cpassword">confirm password :</label>
        <div class="options-Register">
            <button>Register</button>
            <button>Login</button>
        </div>
    </form>
</div>